{% extends "index.html" %} {% block content %}
<div class="order_create">
  <!-- Message Alert -->
  {% if messages %} {% for message in messages %}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% comment %}
  <div class="alert alert-info">{{ message }}</div>
  {% endcomment %} {% endfor %} {% endif %}
  <div class="message-box">
    <div class="">
      <h1>Checkout</h1>
    </div>
    <div class="px-5 text-center">
      <table class="table">
        <tr>
          <th scope="col-2" class="w-25">
            <h2 class="text-uppercase">
              <strong> Product Name </strong>
            </h2>
          </th>
          <th scope="col-2" class="w-25">
            <h2 class="text-uppercase">
              <strong> Quantity </strong>
            </h2>
          </th>
          <th scope="col-2" class="w-25">
            <h2 class="text-uppercase">
              <strong> Total Price </strong>
            </h2>
          </th>
        </tr>
        {% for item in cart %}
        <tr>
          <td>
            <h2 class="text-capitalize">{{item.product.name}}</h2>
          </td>
          <td>
            <h2>{{item.quantity}}</h2>
          </td>
          <td>
            <h2>Rs. {{item.total_price}}</h2>
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td>
            <h2 class="text-capitalize"></h2>
          </td>
          <td>
            <h2>
              <strong>Delivery Charges</strong>
            </h2>
          </td>
          {% if cart.total_price <= 650 %}
          <td>
            <h2>Rs. 70</h2>
          </td>
          {% else %}
          <td style="color: rgb(4, 167, 4); text-transform: uppercase">
            <h2>Free</h2>
          </td>
          {% endif %}
        </tr>
        <tr>
          <td></td>
          <td>
            <h2>
              <strong>Total Amount: </strong>
            </h2>
          </td>
          <td>
            <h2>
              <strong> Rs. {{ cart.get_total_price }} </strong>
            </h2>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <form action="." method="post" class="order-form">
    {% csrf_token %}
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="fname">First Name:</label>
          <input
            type="text"
            class="form-control"
            id="fname"
            name="fname"
            placeholder="Enter Your First Name"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="lname">Last Name:</label>
          <input
            type="text"
            class="form-control"
            id="lname"
            name="lname"
            placeholder="Enter Your Last Name"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="phone">Phone Number:</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            name="phone"
            value="{{user.phone}}"
            placeholder="Enter Your Mobile Number"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="address">Address:</label>
          <input
            type="text"
            class="form-control"
            id="address"
            name="address"
            placeholder="Enter Your Address"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="city">City:</label>
          <input
            type="text"
            class="form-control"
            id="city"
            name="city"
            placeholder="Enter Your City"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="pincode">Postal Code:</label>
          <input
            type="text"
            class="form-control"
            id="pincode"
            name="pincode"
            placeholder="Enter Your City Postal Code"
            required
          />
        </div>
      </div>
    </div>
    <button type="submit" class="btn loginbtn">
      <strong>Place Order</strong>
    </button>
  </form>
</div>
{% endblock %}
