footer {
  border-top: 0.1em dashed rgba(129, 129, 129, 0.418);
}

/* Footer content */

.about,
.quick,
.footcontact {
  padding: 1em 0 0 0%;
  text-align: justify;
}

.footerlogo img {
  width: 50%;
  margin: auto 25%;
}

.quick {
  margin: 1em auto 0 auto;
}
.quick,
.footcontact {
  padding: 2% 0 2% 0.5em;
}

.quick h2,
.footcontact h2 {
  font-weight: bold;
  padding: 1em 0;
  width: 60%;
  margin: auto;
  text-transform: uppercase;
}

.quick p,
.footcontact p {
  padding: 1em 0;
  width: 60%;
  margin: auto;
}

/* ends */

/* Copyright and Social Media Links */

footer .copy {
  text-align: center;
}

.footcontact ul {
  margin-top: 1em;
}

.footcontact ul li {
  display: inline-block;
  font-size: 30px;
  padding: 0.1em 0 0 20%;
}

.footcontact i {
  margin-right: 1em;
}
/* ends */
