/* .home {
  background-color: blue;
} */


/* Section 1 */

.home .homediv {
    padding: 0 2em;
    position: relative;
    height: 50vh;
}

.homediv .homeimg {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.homeimg img {
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);
}

.hometxt {
    /* background-color: aliceblue; */
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-style: italic;
}

.hometxt h1 {
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 0.5em;
    letter-spacing: 0.1em;
}

.hometxt h2 {
    font-size: 30px;
}


/* ends */


/* Section 2 */

.homecards {
    /* background-color: yellow; */
    padding: 5vh 10vw;
}

.cardbox {
    width: 20vw;
    height: 60vh;
    border-radius: 1em;
    background-color: black;
}

.cardbox .cardimg {
    width: 20vw;
    height: 60vh;
    border-radius: 1em;
}

.cardbox .cardimg1 {
    background: url("../images/aloe-vera.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 70%;
    opacity: 0.5;
}

.cardbox .cardimg2 {
    background: url("../images/drop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 70%;
    opacity: 0.5;
}

.cardbox .cardimg3 {
    background: url("../images/skincare.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 70%;
    opacity: 0.5;
}

.cardbox .cardtxt {
    position: absolute;
    left: 50%;
    top: 15%;
    text-align: center;
    padding: 1em;
    height: fit-content;
    transform: translate(-50%, -50%);
    color: white;
}


/* ends */


/* Section 3 */

.homequote {
    /* background-color: aliceblue; */
    text-align: center;
    background: url("../images/bg_quote.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    background-position: 0%;
    position: relative;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);
}

.homequote .quotetxt h2 {
    font-size: 50px;
    font-style: italic;
    position: absolute;
    width: 60%;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}


/* ends */


/* Section 4 */

.productsdiv {
    padding: 1em;
    margin: 2em 0 0 0;
}

.productsdiv .col-lg-6 {
    padding: 1em;
}

.productscard {
    width: 25vw;
    height: 60vh;
    margin: auto 20%;
    border-radius: 1em;
    background-color: white;
    box-shadow: 0.2em 0.2em 0.5em rgba(54, 54, 54, 0.7);
}

.productscard .producttxt {
    text-align: center;
    padding: 2em 0;
    font-weight: bold;
}

.productscard .producttxt h2 {
    font-size: 30px;
    font-weight: bold;
}

.productscard .producttxt p {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 1em 0;
    font-size: 16px;
}

.productscard .productimg img {
    width: 50%;
    margin: 1em 25%;
}

.productscard .prodImg img {
    width: 33%;
    margin: 1em 33%;
}


/* ends */


/* Media Queries */


/* // Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {

    /* Section 1 */
    .home .homediv {
        padding: 0 2em;
        position: relative;
        height: 40vh;
    }

    .homediv .homeimg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .homeimg img {
        width: 150%;
        border-radius: 1em;
        box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);
    }

    .hometxt {
        /* background-color: aliceblue; */
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        font-style: italic;
        text-align: center;
    }

    .hometxt h1 {
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 0.5em;
        letter-spacing: 0.1em;
    }

    .hometxt h2 {
        font-size: 20px;
    }

    /* ends */
    /* Section 2 */
    .homecards {
        /* background-color: yellow; */
        padding: 5vh 0;
    }

    .cardbox {
        margin-bottom: 1em;
        width: 100%;
        height: 60vh;
        border-radius: 1em;
        background-color: black;
    }

    .cardbox .cardimg {
        width: 100%;
        height: 60vh;
        border-radius: 1em;
    }

    .cardbox .cardimg1 {
        background: url("../images/aloe-vera.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 70%;
        opacity: 0.5;
    }

    .cardbox .cardimg2 {
        background: url("../images/drop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 70%;
        opacity: 0.5;
    }

    .cardbox .cardimg3 {
        background: url("../images/skincare.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 70%;
        opacity: 0.5;
    }

    .cardbox .cardtxt {
        position: absolute;
        left: 50%;
        top: 20%;
        text-align: center;
        padding: 1em;
        width: 90%;
        height: fit-content;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 20px;
    }

    /* ends */
    /* Section 3 */
    .homequote {
        /* background-color: aliceblue; */
        text-align: center;
        background: url("../images/bg_quote.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 60vh;
        background-position: 50%;
        position: relative;
        border-radius: 1em;
        box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);
    }

    .homequote .quotetxt h2 {
        font-size: 30px;
        font-style: italic;
        position: absolute;
        width: 80%;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* ends */
    /* Section 4 */
    .productsdiv {
        padding: 1em;
        margin: 2em 0 0 0;
    }

    .productsdiv .col-lg-6 {
        padding: 1em;
    }

    .productscard {
        width: 100%;
        height: 60vh;
        margin: auto 0%;
        border-radius: 1em;
        background-color: white;
        box-shadow: 0.2em 0.2em 0.5em rgba(54, 54, 54, 0.7);
    }

    .productscard .producttxt {
        text-align: center;
        padding: 2em 0;
        font-weight: bold;
    }

    .productscard .producttxt h2 {
        font-size: 30px;
        font-weight: bold;
    }

    .productscard .producttxt p {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin: 1em 0;
        font-size: 16px;
    }

    .productscard .productimg img {
        width: 30%;
        margin: 0em 35%;
    }

    .productscard .prodImg img {
        width: 20%;
        margin: 0em 40%;
    }

    @media (min-width: 320px) and (max-width: 560px) {
        .productscard .productimg img {
            width: 30%;
            margin: 0em 35%;
        }

        .productscard .prodImg img {
            width: 20%;
            margin: 0em 40%;
        }
    }

    /* ends */
}


/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {

    /* Section 1 */
    .home .homediv {
        padding: 0 2em;
        position: relative;
        height: 50vh;
    }

    .homediv .homeimg {
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
    }

    .homeimg img {
        width: 150%;
        border-radius: 1em;
        box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);
    }

    .hometxt {
        /* background-color: aliceblue; */
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        font-style: italic;
    }

    .hometxt h1 {
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 0.5em;
        letter-spacing: 0.1em;
    }

    .hometxt h2 {
        font-size: 30px;
    }

    /* ends */
    /* Section 2 */
    .homecards {
        /* background-color: yellow; */
        padding: 5vh 0;
    }

    .cardbox {
        margin-bottom: 1em;
        width: 100%;
        height: 60vh;
        border-radius: 1em;
        background-color: black;
    }

    .cardbox .cardimg {
        width: 100%;
        height: 60vh;
        border-radius: 1em;
    }

    .cardbox .cardimg1 {
        background: url("../images/aloe-vera.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 70%;
        opacity: 0.5;
    }

    .cardbox .cardimg2 {
        background: url("../images/drop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 70%;
        opacity: 0.5;
    }

    .cardbox .cardimg3 {
        background: url("../images/skincare.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 70%;
        opacity: 0.5;
    }

    .cardbox .cardtxt {
        position: absolute;
        left: 50%;
        top: 20%;
        text-align: center;
        padding: 1em;
        width: 90%;
        height: fit-content;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 20px;
    }

    /* ends */
    /* Section 3 */
    .homequote {
        /* background-color: aliceblue; */
        text-align: center;
        background: url("../images/bg_quote.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 60vh;
        background-position: 50%;
        position: relative;
        border-radius: 1em;
        box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);
    }

    .homequote .quotetxt h2 {
        font-size: 30px;
        font-style: italic;
        position: absolute;
        width: 80%;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* ends */
    /* Section 4 */
    .productsdiv {
        padding: 1em;
        margin: 2em 0 0 0;
    }

    .productsdiv .col-lg-6 {
        padding: 1em;
    }

    .productscard {
        width: 100%;
        height: 60vh;
        margin: auto 0%;
        border-radius: 1em;
        background-color: white;
        box-shadow: 0.2em 0.2em 0.5em rgba(54, 54, 54, 0.7);
    }

    .productscard .producttxt {
        text-align: center;
        padding: 2em 0;
        font-weight: bold;
    }

    .productscard .producttxt h2 {
        font-size: 30px;
        font-weight: bold;
    }

    .productscard .producttxt p {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin: 1em 0;
        font-size: 16px;
    }

    .productscard .productimg img {
        width: 120px;
        margin: 0em 40%;
    }

    .productscard .prodImg img {
        width: 90px;
        margin: 0em 40%;
    }

    /* ends */
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {

    /* Section 1 */
    .home .homediv {
        padding: 0 2em;
        position: relative;
        height: 60vh;
    }

    .homediv .homeimg {
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
    }

    .homeimg img {
        width: 130%;
        border-radius: 1em;
        box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);
    }

    .hometxt {
        /* background-color: aliceblue; */
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        font-style: italic;
        text-align: center;
    }

    .hometxt h1 {
        font-weight: bold;
        font-size: 45px;
        margin-bottom: 0.5em;
        letter-spacing: 0.1em;
    }

    .hometxt h2 {
        font-size: 30px;
    }

    /* ends */
    /* Section 2 */
    .homecards {
        /* background-color: yellow; */
        padding: 5vh 7vw;
    }

    .cardbox {
        width: 70vw;
        height: 70vh;
        border-radius: 1em;
        background-color: black;
        margin-bottom: 2em;
    }

    .cardbox .cardimg {
        width: 70vw;
        height: 70vh;
        border-radius: 1em;
    }

    .cardbox .cardimg1 {
        background: url("../images/aloe-vera.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 70%;
        opacity: 0.5;
    }

    .cardbox .cardimg2 {
        background: url("../images/drop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 70%;
        opacity: 0.5;
    }

    .cardbox .cardimg3 {
        background: url("../images/skincare.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 70%;
        opacity: 0.5;
    }

    .cardbox .cardtxt {
        position: absolute;
        left: 50%;
        top: 15%;
        text-align: center;
        padding: 1em;
        width: 90%;
        height: fit-content;
        transform: translate(-50%, -50%);
        color: white;
    }

    /* ends */
    /* Section 3 */
    .homequote {
        /* background-color: aliceblue; */
        text-align: center;
        background: url("../images/bg_quote.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 60vh;
        background-position: 30%;
        position: relative;
        border-radius: 1em;
        box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);
    }

    .homequote .quotetxt h2 {
        font-size: 50px;
        font-style: italic;
        position: absolute;
        width: 60%;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
    }

    /* ends */
    /* Section 4 */
    .productsdiv {
        padding: 1em;
        margin: 2em 0 0 0;
    }

    .productsdiv .col-lg-6 {
        padding: 1em;
    }

    .productscard {
        width: 50vw;
        height: 60vh;
        margin: auto 25%;
        border-radius: 1em;
        background-color: white;
        box-shadow: 0.2em 0.2em 0.5em rgba(54, 54, 54, 0.7);
    }

    .productscard .producttxt {
        text-align: center;
        padding: 2em 0;
        font-weight: bold;
    }

    .productscard .producttxt h2 {
        font-size: 30px;
        font-weight: bold;
    }

    .productscard .producttxt p {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin: 1em 0;
        font-size: 16px;
    }

    .productscard .productimg img {
        width: 120px;
        margin: 0em 40%;
    }

    .productscard .prodImg img {
        width: 90px;
        margin: 0em 40%;
    }

    /* ends */
}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {

    /* Section 1 */
    .home .homediv {
        padding: 0 2em;
        position: relative;
        height: 70vh;
    }

    .homediv .homeimg {
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(-50%, -50%);
    }

    .homeimg img {
        border-radius: 1em;
        box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);
    }

    .hometxt {
        /* background-color: aliceblue; */
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-style: italic;
    }

    .hometxt h1 {
        font-weight: bold;
        font-size: 65px;
        margin-bottom: 0.5em;
        letter-spacing: 0.1em;
    }

    .hometxt h2 {
        font-size: 30px;
    }

    /* ends */
    /* Section 2 */
    .homecards {
        /* background-color: yellow; */
        padding: 5vh 1vw;
    }

    .cardbox {
        width: 26vw;
        height: 60vh;
        border-radius: 1em;
        background-color: black;
    }

    .cardbox .cardimg {
        width: 26vw;
        height: 60vh;
        border-radius: 1em;
    }

    .cardbox .cardimg1 {
        background: url("../images/aloe-vera.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 70%;
        opacity: 0.5;
    }

    .cardbox .cardimg2 {
        background: url("../images/drop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 70%;
        opacity: 0.5;
    }

    .cardbox .cardimg3 {
        background: url("../images/skincare.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 70%;
        opacity: 0.5;
    }

    .cardbox .cardtxt {
        position: absolute;
        left: 50%;
        top: 20%;
        text-align: center;
        padding: 1em;
        width: 90%;
        height: fit-content;
        transform: translate(-50%, -50%);
        color: white;
    }

    /* ends */
    /* Section 3 */
    .homequote {
        /* background-color: aliceblue; */
        text-align: center;
        background: url("../images/bg_quote.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 60vh;
        background-position: 0%;
        position: relative;
        border-radius: 1em;
        box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);
    }

    .homequote .quotetxt h2 {
        font-size: 50px;
        font-style: italic;
        position: absolute;
        width: 60%;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
    }

    /* ends */
    /* Section 4 */
    .productsdiv {
        padding: 1em;
        margin: 2em 0 0 0;
    }

    .productsdiv .col-lg-6 {
        padding: 1em;
    }

    .productscard {
        width: 35vw;
        height: 60vh;
        margin: auto 5%;
        border-radius: 1em;
        background-color: white;
        box-shadow: 0.2em 0.2em 0.5em rgba(54, 54, 54, 0.7);
    }

    .productscard .producttxt {
        text-align: center;
        padding: 2em 0;
        font-weight: bold;
    }

    .productscard .producttxt h2 {
        font-size: 30px;
        font-weight: bold;
    }

    .productscard .producttxt p {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin: 1em 0;
        font-size: 16px;
    }

    .productscard .productimg img {
        width: 50%;
        margin: 1em 25%;
    }

    .productscard .prodImg img {
        width: 33%;
        margin: 1em 33%;
    }
}


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {

    /* .home {
  background-color: blue;
} */
    /* Section 1 */
    .home .homediv {
        padding: 0 2em;
        position: relative;
        height: 70vh;
    }

    .homediv .homeimg {
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
    }

    .homeimg img {
        border-radius: 1em;
        box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);
    }

    .hometxt {
        /* background-color: aliceblue; */
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        font-style: italic;
    }

    .hometxt h1 {
        font-weight: bold;
        font-size: 70px;
        margin-bottom: 0.5em;
        letter-spacing: 0.1em;
    }

    .hometxt h2 {
        font-size: 30px;
    }

    /* ends */
    /* Section 2 */
    .homecards {
        /* background-color: yellow; */
        padding: 5vh 4vw;
    }

    .cardbox {
        width: 25vw;
        height: 60vh;
        border-radius: 1em;
        background-color: black;
    }

    .cardbox .cardimg {
        width: 25vw;
        height: 60vh;
        border-radius: 1em;
    }

    .cardbox .cardimg1 {
        background: url("../images/aloe-vera.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 70%;
        opacity: 0.5;
    }

    .cardbox .cardimg2 {
        background: url("../images/drop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 70%;
        opacity: 0.5;
    }

    .cardbox .cardimg3 {
        background: url("../images/skincare.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 70%;
        opacity: 0.5;
    }

    .cardbox .cardtxt {
        position: absolute;
        left: 50%;
        top: 15%;
        text-align: center;
        padding: 1em;
        width: 80%;
        height: fit-content;
        transform: translate(-50%, -50%);
        color: white;
    }

    /* ends */
    /* Section 3 */
    .homequote {
        /* background-color: aliceblue; */
        text-align: center;
        background: url("../images/bg_quote.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 60vh;
        background-position: 0%;
        position: relative;
        border-radius: 1em;
        box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);
    }

    .homequote .quotetxt h2 {
        font-size: 50px;
        font-style: italic;
        position: absolute;
        width: 60%;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
    }

    /* ends */
    /* Section 4 */
    .productsdiv {
        padding: 1em;
        margin: 2em 0 0 0;
    }

    .productsdiv .col-lg-6 {
        padding: 1em;
    }

    .productscard {
        width: 25vw;
        height: 60vh;
        margin: auto 20%;
        border-radius: 1em;
        background-color: white;
        box-shadow: 0.2em 0.2em 0.5em rgba(54, 54, 54, 0.7);
    }

    .productscard .producttxt {
        text-align: center;
        padding: 2em 0;
        font-weight: bold;
    }

    .productscard .producttxt h2 {
        font-size: 30px;
        font-weight: bold;
    }

    .productscard .producttxt p {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin: 1em 0;
        font-size: 16px;
    }

    .productscard .productimg img {
        width: 50%;
        margin: 1em 25%;
    }

    .productscard .prodImg img {
        width: 33%;
        margin: 1em 33%;
    }

    /* ends */
}


/* ends */