.navbar {
  border-bottom: 0.1em dashed rgba(129, 129, 129, 0.418);
}

.headlogo {
  width: 5%;
}

.logo {
  width: 100%;
}

.menu ul li {
  width: fit-content;
  margin-left: 1em;
  height: fit-content;
}

.menu ul li a {
  margin-top: 1.5em;
  text-align: center;
  font-size: 18px;
}

/* Media Queries */
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .navbar {
    border-bottom: 0.1em dashed rgba(129, 129, 129, 0.418);
  }

  .headlogo {
    width: 20%;
  }

  .logo {
    width: 100%;
  }

  .fa-bars {
    padding-top: 0.3em;
  }

  .menu ul li {
    width: fit-content;
    margin-left: 1em;
    height: fit-content;
  }

  .menu ul li a {
    margin-top: 1.5em;
    text-align: center;
    font-size: 18px;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar {
    border-bottom: 0.1em dashed rgba(129, 129, 129, 0.418);
  }

  .headlogo {
    width: 20%;
  }

  .logo {
    width: 100%;
  }

  .fa-bars {
    padding-top: 0.3em;
  }

  .menu ul li {
    width: fit-content;
    margin-left: 1em;
    height: fit-content;
  }

  .menu ul li a {
    margin-top: 1.5em;
    text-align: center;
    font-size: 18px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar {
    border-bottom: 0.1em dashed rgba(129, 129, 129, 0.418);
  }

  .headlogo {
    width: 20%;
  }

  .logo {
    width: 100%;
  }

  .fa-bars {
    padding-top: 0.3em;
  }

  .menu ul li {
    width: fit-content;
    margin-left: 1em;
    height: fit-content;
  }

  .menu ul li a {
    margin-top: 1.5em;
    text-align: center;
    font-size: 18px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar {
    border-bottom: 0.1em dashed rgba(129, 129, 129, 0.418);
  }

  .headlogo {
    width: 10%;
  }

  .logo {
    width: 90%;
  }

  .menu ul li {
    width: fit-content;
    margin-left: 1em;
    height: fit-content;
  }

  .menu ul li a {
    margin-top: 2em;
    text-align: center;
    font-size: 18px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1599.98px) {
  .navbar {
    border-bottom: 0.1em dashed rgba(129, 129, 129, 0.418);
  }

  .headlogo {
    width: 15%;
  }

  .logo {
    width: 100%;
  }

  .menu ul li {
    width: fit-content;
    margin-left: 1em;
    height: fit-content;
  }

  .menu ul li a {
    margin-top: 4em;
    text-align: center;
    font-size: 18px;
  }
}
/* ends */
