.navbar {
  border-bottom: 0.1em dashed rgba(129, 129, 129, 0.418);
}

.headlogo {
  width: 5%;
}

.logo {
  width: 100%;
}

.menu ul li {
  width: fit-content;
  margin-left: 1em;
  height: fit-content;
}

.menu ul li a {
  margin-top: 1.5em;
  text-align: center;
  font-size: 18px;
}
