.privacy hr {
  background-color: black;
  height: 0.1em;
  margin: 1em 0;
}

.privacy h1 {
  text-align: center;
  margin: 1em 0em 1.5em 0em;
  font-weight: bold;
}

.privacy p {
  text-align: justify;
  padding: 0em 2em;
}

.privacy h2 {
  margin: 1em;
  font-weight: bold;
}

.privacy ul li {
  list-style: circle;
  margin-left: 4em;
}