@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}


/* scrollbar */

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.2em;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 1em;
}


/* ends */


/* wrapper content and footer */

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    height: fit-content;
    padding: 0 5%;
}

.content {
    flex-grow: 1;
}


/* ends */

body {
    margin: 0%;
    padding: 0%;
}

.container-fluid {
    margin: 0%;
    padding: 0 5%;
}

.main {
    padding: 1em 0;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #6f382e;
    text-decoration: none;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

input {
    text-transform: lowercase;
}


/* row and col */

.row {
    width: 100%;
    margin: auto;
}


/* ends */

.pay-btn {
    background-color: #79b9e7;
    color: #fff;
    margin: auto;
    padding: 1em;
    border-radius: 0.5em;
    word-spacing: 0.1em;
}

.pay-btn:hover {
    background-color: #a7c6da;
    color: black;
}


/* svg {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
} */

.message-box {
    color: #000;
    font-weight: 300;
    text-align: center;
    margin: 5% 0;
}

.message-box h1 {
    font-size: 60px;
    line-height: 46px;
    margin-bottom: 40px;
}

.buttons-con .action-link-wrap {
    margin-top: 40px;
}

.buttons-con .action-link-wrap a {
    /* background: #79b9e7;
    border-radius: 4px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s linear;
    cursor: pointer;
    text-decoration: none;
    margin: 0 10px;
    padding: 1em; */
    background-color: #79b9e7;
    color: #000;
    padding: 1em;
    border-radius: 0.5em;
    word-spacing: 0.1em;
}

.buttons-con .action-link-wrap a:hover {
    background: #5A5C6C;
    color: #fff;
}


/* #Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-4,
#Polygon-5 {
    animation: float 1s infinite ease-in-out alternate;
}

#Polygon-2 {
    animation-delay: .2s;
}

#Polygon-3 {
    animation-delay: .4s;
}

#Polygon-4 {
    animation-delay: .6s;
}

#Polygon-5 {
    animation-delay: .8s;
}

@keyframes float {
    100% {
        transform: translateY(20px);
    }
}

@media (max-width: 450px) {
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -190px;
    }
    .message-box {
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -190px;
        text-align: center;
    }
} */