{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="about row">
    <div class="col-lg-6 about_img">
        <img src="{% static '/images/logowtm1_bg.png' %}" alt="The Pure Earth">
    </div>
    <div class="col-lg-6 about_txt">
        <h1>The Pure Earth</h1>
        <p>Our culture is one of honouring all life, upholding human values and celebrating harmony in diversity. With the mission to enable and elevate confidence in people around the globe through astounding, readily available skincare items that empower both inward and external beauty, The Pure Earth deals with products containing top-notch fixings that advance and sustain the skin. We deliver an unparalleled experience of nourishment, oxygenation, hydration, and protection with our ground-breaking, natural collection of retail and professional products for the face and body.</p>
        <p>The Pure Earth results from the realization that there is a huge demand and a dire need to develop a cost-effective and available platform. We are focused on curating the best of characteristic beauty without trading off on proficiency and ensuring that every one of our items is user-friendly and safe to adopt. In a world where customers have to pay a bit over the odds to buy good quality foreign products, we present products that are not profit-oriented, relatively affordable.</p>
    </div>
    <div class="col-md-12 about_txt1">
        <p>
            Our deep concern for healthy skin has led us to develop skin solutions targeting specific areas like hydration and brightness. We believe that “to sustain longevity, we must evolve”. Pure Earth is a step forward towards reducing dependency on expensive foreign companies for quality products. The Pure Earth Skincare System develops true skin transformation and enhances authentic beauty.
        </p>
        <p>
            We wanted to introduce people to products that give immediate results with long-term benefits. The culture of expensive skin clinic visits and harmful treatments like chemical peels, laser treatments and fairness treatments got us thinking about the kind of products we wanted to develop and make available. We want to change how we look after ourselves by drawing attention to the areas and the problems that we often overlook or consider unimportant - but do affect how we feel and how we appear.
        </p>
        <p>
            As an epitome of luxury organic skincare, we consider “luxury” to mean an unwavering dedication to using the highest quality ingredients collected from all over India and making the perfect blend ready. We also believe words like “natural” and “organic” have an honest meaning beyond marketing. We thus source the finest raw natural ingredients the earth has to offer most ethically. Our ingredients are selected based on their functionality, effectiveness and safety in viable percentages. We take skincare one step further by combining the most natural ingredients with techniques used and trusted for many years.
        </p>
        <h4>
            <strong>An extraordinary blend of innovation and beauty, our products cater to all skin types and act as a Professional Healer!</strong>
        </h4>
        <h2>Message From The Visionary</h2>
        <p>
            Since The Pure Earth’s beginnings, Kanika Khurana created a brand representing her thoughts and personal style.
        </p>
        <p>
            “I realize that we still live in a sexist world. Signing some contracts or being heard is not always that easy, but being in the beauty field, you are lucky enough to meet and exchange ideas with other women. It is an industry where women are an inspiration, and for that, I feel blessed. Most people would describe my style as weird and unique, and I also like making fun of myself - it is a good reminder not to take life too seriously. However, when it comes to business, I do the grunt work to make sure we are at the forefront of beauty innovation.”
        </p>
        <p>
            At The Pure Earth Skincare, we genuinely believe that the amalgamation of Nature and Science provides us with the most potent formulations. We need science to understand nature and to get the best out of it. Our products combine high-performance active ingredients with a unique blend of plant-derived elements with potent and healing properties.
        </p>
        <p>
            Following our shelf products in the future would be our short hands-on guidance courses and private workshop programmes to help you become a better and glowing you. Every step we take is dedicated to nourishing good health, enhanced beauty, and the personal contentment of each customer.
        </p>
        <h4>
            <strong>
                Thank you for choosing the right Cure & Care with The Pure Earth!
            </strong>
        </h4>
    </div>
</div>
{% endblock %}
