{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="faqbx">
    <div class="faq-header">Frequently Asked Questions</div>
    <div class="faq-content">
        <div class="faq-question">
            <input id="q1" type="checkbox" class="panel">
            <div class="plus">+</div>
            <label for="q1" class="panel-title">Why should I prefer Pure Earth over so many products in the market?</label>
            <div class="panel-content">The usage of all-natural ingredients and zero toxins in our products makes us different from others. Not to mention, the products offered by Pure Earth are of superior quality and user-friendly for all skin types. It is a “made safe” certified toxins-free Indian brand that is free of all toxins which are banned in other countries as well.</div>
        </div>
        <div class="faq-question">
            <input id="q2" type="checkbox" class="panel">
            <div class="plus">+</div>
            <label for="q2" class="panel-title">You are a new brand. How and why should we trust you?</label>
            <div class="panel-content">We are undoubtedly a new brand that is not trying to cut corners, reduce costs, or mint money but is actually trying to bring a change in society by reducing dependency on foreign companies for good quality products. The economical costs of our products are evidence of the fact that we are not money-oriented, but mission-oriented. Try our products once, and the next time you will answer this question to your friends and family.</div>
        </div>
        <div class="faq-question">
            <input id="q3" type="checkbox" class="panel">
            <div class="plus">+</div>
            <label for="q3" class="panel-title">What is your product range?</label>
            <div class="panel-content">Our Product Ranges from Rs. 699 to Rs. 2000</div>
        </div>
        <div class="faq-question">
            <input id="q4" type="checkbox" class="panel">
            <div class="plus">+</div>
            <label for="q4" class="panel-title">What toxins do and why should I avoid them?</label>
            <div class="panel-content">Although most chemicals in cosmetics pose little or no risk, some have been linked to serious health problems, including cancer, reproductive and neurological harm, and developmental delays. We have made sure that each product does not even have a single ingredient that may be this harmful.</div>
        </div>
        <div class="faq-question">
            <input id="q5" type="checkbox" class="panel">
            <div class="plus">+</div>
            <label for="q5" class="panel-title">What are the toxins that I should always avoid and check before buying a product?</label>
            <div class="panel-content">
                Following are a few chemicals that we must assure are not a part of any cosmetic that we use:
                <ul>
                    <li>Parabens</li>
                    <li>Lead</li>
                    <li>Phthalates</li>
                    <li>Triclosan</li>
                    <li>Toluene</li>
                    <li>Talc</li>
                    <li>Diethanolamine</li>
                </ul>
                We at The Pure Earth have made sure that no ingredient used in our product can cause harm to any skin type.
            </div>
        </div>
        <div class="faq-question">
            <input id="q6" type="checkbox" class="panel">
            <div class="plus">+</div>
            <label for="q6" class="panel-title">Have you tested your products on animals?</label>
            <div class="panel-content">NO. We are strong opponents of the idea of animal testing. The product was designed for humans, and we would never want to risk an animal's skin for the sake of testing our products. However, we have clinically tested all our products on humans through patch testing to ensure no products can cause an allergy. We handle your safety. You can rely on our products for the same</div>
        </div>
        <div class="faq-question">
            <input id="q7" type="checkbox" class="panel">
            <div class="plus">+</div>
            <label for="q7" class="panel-title">Can we buy your products from offline stores?</label>
            <div class="panel-content">We sell our products from our official website. You can also purchase our products from Amazon, Flipkart and Meesho app or website all in the comfort of your home.</div>
        </div>
        <div class="faq-question">
            <input id="q8" type="checkbox" class="panel">
            <div class="plus">+</div>
            <label for="q8" class="panel-title">Are the products eco-friendly?</label>
            <div class="panel-content">YES YES YES!!!!!!! Our products are not only eco-friendly but also non-toxic, dye and fragrance-free, and non-allergic.</div>
        </div>
        <div class="faq-question">
            <input id="q9" type="checkbox" class="panel">
            <div class="plus">+</div>
            <label for="q9" class="panel-title">Do you deliver all over India?</label>
            <div class="panel-content">From Kashmir to Kanyakumari, from Gujarat to Arunachal Pradesh, we deliver all over India. You don't have to wait for months to get your products from foreign companies anymore. We deliver all over India within 3 to 5 days of order placement.</div>
        </div>
    </div>
</div>
{% endblock %}
