{% extends 'index.html' %} {% load static %} {% block content %}
<div class="home">
  <!-- {% if messages %}
        
        {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endfor %}
        
        {% endif %} -->
  <!-- {/* Section1 */} -->
  <div class="homediv">
    <div class="homeimg">
      <img src="{% static '/images/skin1.jpg' %}" alt="The Pure Earth" />
    </div>
    <div class="hometxt">
      <h1>" Your Professional Healer "</h1>
      <h2>
        <a href="/aboutus">
          Explore Now
          <i class="fas fa-arrow-right"></i>
        </a>
      </h2>
    </div>
  </div>
  <!-- {/* ends */} -->
  <!-- {/* Setion 2 */} -->
  <div class="homecards">
    <div class="row">
      <div class="col-sm-12 col-md-auto col-lg-4">
        <div class="cardbox">
          <div class="cardimg cardimg1"></div>
          <div class="cardtxt">
            <h3>Rich in natural ingredients</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-auto col-lg-4">
        <div class="cardbox">
          <div class="cardimg cardimg2"></div>
          <div class="cardtxt">
            <h3>Instant Hydration & Moisturization</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-auto col-lg-4">
        <div class="cardbox">
          <div class="cardimg cardimg3"></div>
          <div class="cardtxt">
            <h3>A professional healer for all skin types</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- {/* ends */} -->
  <!-- {/* Section 3 */} -->
  <div class="homequote">
    <div class="quotetxt">
      <h2>
        " We at The Pure Earth have made sure that no ingredient used in our
        product can cause harm to any skin type. "
      </h2>
    </div>
  </div>
  <!-- {/* ends */} -->
  <!-- {/* Section 4 */} -->
  <div class="productsdiv">
    {% if products.count >= 2 %}
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        {% for product in products %}
        <div class="swiper-slide">
          <div class="card">
            <div class="cardImg">
              <img
                src="{{product.main_image.image.url}}"
                class="img-fluid d-block"
                alt="Product Image"
              />
            </div>
            <div class="cardTxt mb-5">
              <h1>{{product.name}}</h1>
              <a href="{{ product.get_absolute_url }}">
                <p>
                  Explore Now
                  <i class="fas fa-arrow-right"></i>
                </p>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
    {% endif %}
  </div>
  <!-- {/* ends */} -->
</div>

<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: "auto",
    centeredSlides: true,
    spaceBetween: 30,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>

{% endblock %}
