{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="privacy">
    <h1>Return Policy</h1>
    <p>
        At The Pure Earth, we strive to give you the very best shopping experience possible.
    </p>
    <p>
        We will gladly issue a full refund for any full priced (not purchased at any discounts/ sales), unopened (seal should NOT be broken) merchandise that is returned within 3 days from the date of delivery. Simply contact us and return the products to our address. If you want the brand to arrange a pickup, postage will be charged at Rs. 90/- as a return pickup charge.
    </p>
    <p>
        However, considering that opened, used or damaged products cannot be reused, we cannot accept exchange or return of opened or used products once sold and delivered.
    </p>
    <p>
        <strong>PLEASE NOTE : ONCE THE SEAL IS BROKEN IT CANNOT BE RESOLD DUE TO HYGINE REASONS HENCE CANNOT BE RETURNED</strong>
    </p>
    <p>The Pure Earth is not responsible for any damage caused after delivery.</p>
    <p>
        In case of any problem or damage during transit with the product, we exchange the product. All you need to do is give us a call/whatsapp us or email us within 24 hours of delivery. You can reach us on 8384016264 or contact@thepureearth.com and our we will be happy to assist you.
    </p>
    <p>
        <strong>Exchange of products will be accepted only if the products are returned in a saleable condition with the original receipt/tags intact and in their original packaging, in an undamaged condition and subject to following terms-</strong>
    </p>
    <ul>
        <li>
            <p>
                Returns and exchanges requests will be subject to checking and vetting by The Pure Earth.
            </p>
        </li>
        <li>
            <p>
                Damages due to neglect, improper usage or wrong application will not be covered under this Policy. Please note that essential oils can react to some people, hence always do a patch test before using any product (patch test procedure is mentioned on the box of each item) as refunds due to skin sensitivity will not be entertained. Please read the ingredients and the skin type recommendation before buying the products if you still have confusion we are always available on WhatsApp and call for tele consultation.
            </p>
        </li>
        <li>
            <p>
                Shipping charge would not be included in the refund value of your order as these are non-refundable charges.
            </p>
        </li>
        <li>
            <p>
                Once your return/refunds request has been accepted, the process will be completed within 7-10 business days.
            </p>
        </li>
        <li>
            <p>
                Please note if the exchange or return is only for your personal choice where the brand is not at fault you can courier us the products, if we will arrange a pickup you will be charged the return shipment will be charged at Rs. 90/- as a return pickup charge.
            </p>
        </li>
        <li>
            <p>
                All claims for shortages or damages must be reported to customer service within 24 hours of delivery.
            </p>
        </li>
    </ul>
    <p>
        For Refunds please note the following –
    </p>
    <p>
        <strong>The amount refunded will be credited to your Indulgeo Gold points and can be used within 1 year. We DO NOT provide any cash refunds.</strong>
    </p>
    <p>
        If the fault or damage is from the brand’s end or in case of a missing item, the item will be returned and exchanged as per the customer’s choice of obtaining credit. However, if the customer willingly wants to return the item, the shipping cost of the returned item is Rs. 90, which will be deducted from the money paid.
    </p>
    <ul>
        <li>
            <p>
                Returns and exchanges requests will be subject to checking and vetting by Indulgeo Essentials.
            </p>
        </li>
        <li>
            <p>
                Damages due to neglect, improper usage or wrong application will not be covered under this Policy. Please note that essential oils can react to some people, hence always do a patch test before using any product (patch test procedure is mentioned on the box of each item) as refunds due to skin sensitivity will not be entertained. Please read the ingredients and the skin type recommendation before buying the products if you still have confusion we are always available on WhatsApp and call for tele consultation.
            </p>
        </li>
        <li>
            <p>
                Shipping charge would not be included in the refund value of your order as these are non-refundable charges.
            </p>
        </li>
        <li>
            <p>
                Once your return/refunds request has been accepted, the process will be completed within 7-10 business days.
            </p>
        </li>
        <li>
            <p>
                Please note if the exchange or return is only for your personal choice where the brand is not at fault you can courier us the products, if we will arrange a pickup you will be charged the return shipment cost as per actual.
            </p>
        </li>
    </ul>
    <p>
        All claims for shortages or damages must be reported to customer service within 24 hours of delivery.
    </p>
</div>
{% endblock %}
