{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="privacy">
    <h1>Shipping Policy</h1>
    <p>
        Purchases are shipped from our warehouse in New Delhi by reputed courier agencies.
    </p>
    <p>
        Please allow following number of days from receipt of your order.
    </p>
    <p>
        <strong>For India orders</strong>
        – All domestic orders are processed within 1 business day. You can expect delivery of the order within 3-7 business days. For locations which are in the interiors or in difficult coverage area, this may take between 8-12 working days.
    </p>
    <p>
        <i>Order deliveries will be made between</i>
    </p>
    <p>
        10:00 AM – 6:00 PM Monday – Saturday. Excluding public holidays.
    </p>
    <p>
        Goods will need to be signed for upon delivery. If you cannot be there to sign for your delivery please suggest an alternative i.e. a family member, colleague, neighbor, etc. However The Pure Earth takes no responsibility for goods signed by an alternative person.
    </p>
    <p>
        The Pure Earth is not responsible for damage after delivery.
    </p>
    <p>
        For any complaints with regards to your order please contact Customer Care within 7 business days of your order delivery for resolution.
    </p>
    <p>
        Shipping and handling rates may vary based on product, packaging, size, volume, type and other considerations. The shipping and handling charges are given at the time of check out and consumers will know about this before making payments
    </p>
    <p>
        <strong>SHIPPING CHARGES</strong>
    </p>
    <p>
        <strong>For India Orders:</strong>
    </p>
    <p>
        We ship products across India and all orders of Rs. 650 and above qualify for free domestic shipping. However, there is a flat COD charge of Rs.50/- if you opt for Cash on Delivery.
    </p>
    <p>
        Orders under Rs. 650 will be charged Rs. 70 as shipping
    </p>
</div>
{% endblock %}
