{% extends 'index.html' %} {% load static %} {% block title %} Order
{{order.id}} {{block.super}} {% endblock %} {% comment %} {% block breadcrumbs
%}
<div class="breadcrumbs">
  <a href="{% url ' admin:index ' %}">Home</a>
  &rsaquo;
  <a href="{% url 'admin:orders_order_changelist' %}">Orders</a>
  &rsaquo;
  <a href="{% url 'admin:orders_order_change' order.id %}"
    >Order {{order.id }}</a
  >
  &rsaquo; Detail
</div>
{% endblock %} {% endcomment %} {% block content %}
<div class="text-center">
  <button class="btn btn-link text-dark my-3 p-2" onclick="window.print();">
    <h3>
      <strong>Invoice</strong>
    </h3>
  </button>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="my-5">
      <table class="table table-responsive">
        <tr>
          <th>Order No.</th>
          <td>{{ order.id }}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{ order.first_name }} {{ order.last_name }}</td>
        </tr>
        <tr>
          <th>Phone Number</th>
          <td>{{ order.phone }}</td>
        </tr>
        <tr>
          <th>Address</th>
          <td>{{ order.address }}, {{ order.postal_code }} {{ order.city }}</td>
        </tr>
        <tr>
          <th>Total amount</th>
          <td>Rs. {{ order.get_total_cost }}</td>
        </tr>
        <tr>
          <th>Date</th>
          <td>{{ order.created }}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td class="text-success">
            <strong
              >{% if order.paid %}Paid{% else %}Pending payment{% endif %}
            </strong>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="my-5">
      <div class="tabular inline-related last-related">
        <h2 class="text-uppercase">
          <strong> Items bought </strong>
        </h2>
        <table class="table table-responsive text-center">
          <thead>
            <tr>
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% for item in order.items.all %}
            <tr>
              <td>{{ item.product.name }}</td>
              <td class="num">Rs. {{ item.price }}</td>
              <td class="num">{{ item.quantity }}</td>
              <td class="num">Rs. {{ item.get_cost }}</td>
            </tr>
            {% endfor %}
            <tr>
              <td></td>
              <td></td>
              <td>
                <strong>Total</strong>
              </td>
              <td class="num">Rs. {{ order.get_total_cost }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
