{% load static %}
{% block content %}
<footer>
    <div class="row">
        <div class="col-lg-4 about">
            <a href="/" class="footerlogo">
                <img src="{% static '/images/logowtm.png' %}" alt="The Pure Earth">
            </a>
            <p>
                The Pure Earth deals with products containing top-notch fixings that advance and sustain the skin. In a world where customers are forced to pay a bit over the odds to buy good quality foreign products, we present to you, products that are not profit-oriented, rather ‘affordability-oriented’. The Pure Earth results from the realization that there is a huge demand and a dire need to come up with a platform that is cost-effective and available to all. We are focused on curating the best of characteristic beauty without trading off on proficiency and guaranteeing that every one of our items is user-friendly and safe to adopt.
            </p>
        </div>
        <div class="col-lg-4">
            <div class="quick">
                <h2>Quick Links</h2>
                <a href="/products">
                    <p>
                        Products
                    </p>
                </a>
                <a href="/faq">
                    <p>
                        FAQ
                    </p>
                </a>
                <a href="/privacy-policy">
                    <p>
                        Privacy Policy
                    </p>
                </a>
                <a href="/return-policy">
                    <p>
                        Return Policy
                    </p>
                </a>
                <a href="/shipping-policy">
                    <p>
                        Shipping Policy
                    </p>
                </a>
                <a href="terms-and-conditions">
                    <p>
                        Terms and Conditions
                    </p>
                </a>
            </div>
        </div>
        <div class="col-lg-4 footcontact">
            <h2>Contact Us</h2>
            <p>
                <i class="far fa-envelope-open"></i>
                <a href="mailto:contact@thepureearth.com">contact@thepureearth.com</a>
            </p>
            <p>
                <i class="fas fa-phone-alt"></i>
                <a href="tel:+91-8384016264">+91-8384016264</a>
            </p>
            <ul class="social-icons">
                <li>
                    <a href="https://www.facebook.com/thepureearth24" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/thepureearth/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-12 copy">
            <p>
                &#169; 2021, The Pure Earth
            </p>
        </div>
    </div>
</footer>
{% endblock %}
