{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="profile">
    <div class="row">
        <div class="col-sm-12 col-md-auto col-lg-4">
            <div class="profilebox">
                <h2>
                    <strong>
                        Update your profile
                    </strong>
                </h2>
                <form method="post" class="signinform">
                    {% csrf_token %}
                    <!-- Message Alert -->
                    {% if messages %} {% for message in messages %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
                    {% comment %} <div class="alert alert-info">{{ message }}</div> {% endcomment %}
                    {% endfor %} {% endif %}
                    <!-- Alert Ends -->
                    <h2>
                        Your Username: {{user.username}}
                    </h2>
                    <div class="form-group">
                        <label for="upfname">First Name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="upfname"
                            name="upfname"
                            value="{{user.first_name}}"
                            placeholder="First Name"
                            required
                        >
                    </div>
                    <div class="form-group">
                        <label for="uplname">Last Name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="uplname"
                            name="uplname"
                            value="{{user.last_name}}"
                            placeholder="Last Name"
                            required
                        >
                    </div>
                    <div class="form-group">
                        <label for="upnumber">Phone Number</label>
                        <input
                            type="text"
                            class="form-control"
                            id="upnumber"
                            name="upnumber"
                            value="{{profile.phone_number}}"
                            placeholder="Your Phone Number"
                            required
                        >
                    </div>
                    <div class="form-group">
                        <label for="upemail">Email ID</label>
                        <input
                            type="email"
                            class="form-control"
                            id="upemail"
                            name="upemail"
                            value="{{user.email}}"
                            placeholder="example@example.com"
                            aria-describedby="emailHelp"
                            required
                        >
                        <small id="emailHelp" class="form-text text-muted">
                            We'll never share your email with anyone else.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="pass2">Password</label>
                        <input
                            type="password"
                            class="form-control"
                            id="pass2"
                            name="pass2"
                            placeholder="Enter your password"
                            required
                        >
                    </div>
                    <div class="form-group">
                        <label for="confpass1">Confirm Password</label>
                        <input
                            type="password"
                            class="form-control"
                            id="confpass1"
                            name="confpass1"
                            placeholder="Enter your password again"
                            required
                        >
                    </div>
                    <button type="submit" class="btn loginbtn">
                        <strong>Update Now</strong>
                    </button>
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-md-auto col-lg-8">
            <div class="orderbox">
                <div class="text-center table-responsive">
                    <h1>Your Orders</h1>
                    <table class="table">
                        <tr class="w-100">
                            <th class="w-25">Order Id</th>
                            <th class="w-25">Payment Id</th>
                            <th class="w-25">Order Placed On</th>
                            <th class="w-25">Track Your Order</th>
                        </tr>
                    {% for order in orders %}
                    {% if order.paid %}
                        <tr>
                            <td class="w-25">
                                <a href="{% url 'orders:order_detail' order.id %}">
                            <strong>TPE{{order.id}}</strong>
                        </a>
                            </td>
                            <td class="w-25"> {{ order.braintree_id }}</td>
                            <td class="w-25">{{order.created}}</td>
                            <td class="w-25"><a href="{{order.order_track_link}}" target="_blank">
                            <strong>{{order.order_track_number}}</strong>
                        </a></td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
