{% extends "index.html" %}
{% block content %}
 <h1>Complete payment details to confirm order</h1>
 <p>
     Your order number is <strong>TPE{{ order_id }}</strong>
 </p>
 <p>
     Your pay amount is <strong>Rs. {{ amount }}</strong> 
 </p>
<form action="{% url 'payment:response' %}" method="POST">
{% csrf_token %}
<script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key={{public_key}}
    data-amount={{ amountorig }}
    data-buttontext="   Pay with Razorpay   "
    data-name="The Pure Earth"
    data-description=""
    data-image="https://cdn.razorpay.com/logos/I5BCKV50LxqCIa_medium.png"
    data-prefill.name="The Pure Earth"
    data-prefill.email="thepureearthbeauty@gmail.com"
    data-theme.color="#184081"
    data-notes.address="The Pure Earth"
></script>
<input type="hidden" value="Hidden Element" name="hidden">
</form>

{% endblock %}